.chart-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.year-selector {
  margin-bottom: 20px;
}

.details-container {
  margin-top: 20px;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details-table th,
.details-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.details-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.details-table img {
  max-width: 100%;
  height: auto;
}
