.orders-container {
  margin: 20px;
}

.orders-title {
  text-align: center;
  margin-bottom: 20px;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.orders-table th,
.orders-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.orders-table th {
  background-color: #f2f2f2;
}

.orders-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.orders-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.confirm-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
}

.confirm-button {
  color: green;
}

.delete-button {
  color: red;
}

.new-label {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.new-order .new-label {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 16px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.page-link:hover {
  background-color: #f2f2f2;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
