.reviews-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .reviews-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .review-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .review-content {
    padding: 10px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .rating {
    font-size: 1.2em;
    color: #ffb400;
  }
  
  .review-text {
    margin: 10px 0;
    color: #333;
  }
  
  .review-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .review-date {
    color: #999;
    font-size: 1.2em;
  }
  
  .product-details {
    display: flex;
    align-items: center;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    
    object-fit: cover;
    margin: 50px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }
  
  .product-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #555;
  }
  
  .product-price {
    color: #888;
    font-size: 1.2em;
  }
  
  .delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5em;
    color: #555;
  }
  